<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="row g-0 flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #243665;" role="navigation">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/overview" class="d-flex mx-auto">
                    <img src="../img/countify_sidebar.png" width="180" height="90" class="mx-auto" loading="lazy">
                </a>
                <ul class="nav nav-pills btn-toggle-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/overview" class="nav-link align-middle px-0 mb-2 csslink">
                            <i class="fs-4 bi bi-clipboard-check"></i> <span class="ms-1 d-none d-sm-inline">Inventory Overview</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/sugarland" class="nav-link align-middle px-0 mb-2 csslink">
                            <i class="fs-4 bi bi-shop"></i> <span class="ms-1 d-none d-sm-inline">Sugar Land Inventory</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/galleria" class="nav-link align-middle px-0 mb-2 csslink csslinkactive">
                            <i class="fs-4 bi bi-shop"></i> <span class="ms-1 d-none d-sm-inline">Galleria Inventory</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0 mb-2 csslink">
                            <i class="fs-4 bi bi-pencil"></i> <span class="ms-1 d-none d-sm-inline">Edit Inventory</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <a href="/" class="nav-link link-light align-middle px-0 mb-4">
                    <i class="fs-4 bi bi-box-arrow-right"></i> <span class="ms-1 d-none d-sm-inline">Log out</span>
                </a>
            </div>
        </div>
        <!-- CONTENT AREA BEGINS -->
        <div class="col">
            <h1 class="p-4" style="background-color: #8bd8bd; color:#243665;">
                 Galleria Inventory Overview
            </h1>
            
            
        
            <% if (locals.data) { %>
                <div class="container-fluid">
                <table class="table">
                    <thread>
                        <tr style="--bs-table-bg: #8bd8bd; --bs-table-color: #243665;">
                            <th scope="col">Item</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% locals.data.forEach(function(data) { %>
                            <tr>
                                <td scope="row"><%= data.item %></td>
                                <td scope="row"><%= data.category %></td>
                                <td scope="row"><%= data.quantity %></td>
                                <td scope="row"><%= data.supplier %></td>
                                <td scope="row">$<%= data.price %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                </div>
            <% } %>
        </div>
        <!-- CONTENT AREA ENDS -->
    </div>
</body>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>


<!-- References Used
    https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb
    https://icons.getbootstrap.com/
    https://getbootstrap.com/docs/5.3/content/tables/
-->