<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="row g-0 flex-nowrap">
        <%- include('../partials/sidebar'); %>

        <!-- Content area begins -->
        <div class="content col">
            <!-- Page header -->
            <h1 class="p-4" style="background-color: #8bd8bd; color:#243665;">
                Galleria Inventory Count
            </h1>        
            
            <!-- Toggle switch for low stock highlighting -->
            <div class="form-check form-switch m-4">
                <input class="form-check-input togglecss" type="checkbox" id="lowStockToggle">
                <label class="form-check-label" for="lowStockToggle">Highlight Low Stock</label>
            </div>

            <!-- Inventory Count Button-->
            <a href="/update_inv/galleria" class="nav-link countlink px-2 m-4">
                <i class="fs-4 bi bi-clipboard-check"></i> <span class="ms-1 d-none d-sm-inline">Inventory Count</span>
            </a>
            
            <!-- Inventory table view begins -->
            <% if (locals.data) { %>
                <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr style="--bs-table-bg: #8bd8bd; --bs-table-color: #243665;">
                            <th scope="col">Item</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.data.forEach(function(data) { %>
                            <% if (data.quantity < 5) { %>
                            <tr class="table-danger" id="lowStockFilter">
                                <td scope="row"><%= data.item %></td>
                                <td scope="row"><%= data.category %></td>
                                <td scope="row"><%= data.quantity %></td>
                                <td scope="row">$<%= data.price %></td>
                            </tr>
                            <% } else { %>
                                <tr>
                                    <td scope="row"><%= data.item %></td>
                                    <td scope="row"><%= data.category %></td>
                                    <td scope="row"><%= data.quantity %></td>
                                    <td scope="row">$<%= data.price %></td>
                                </tr>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
                </div>
            <% } %>
            <!-- Inventory table view ends -->
        </div>
        <!-- Content area ends -->
    </div>

    <!-- JavaScript for low stock filter toggle -->
    <%- include('../partials/highlight_toggle'); %>

</body>


</html>


<!-- References Used
    https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb
    https://icons.getbootstrap.com/
    https://getbootstrap.com/docs/5.3/content/tables/
-->