<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="row g-0 flex-nowrap">
        <%- include('../partials/sidebar'); %>
        
        <!-- Content area begins -->
        <div class="content col">
            <!-- Page header -->
            <h1 class="p-4" style="background-color: #8bd8bd; color:#243665;">
                Inventory Overview
            </h1>
                 
            <!-- Toggle switch for low stock highlighting -->
            <div class="form-check form-switch m-4">
                <input class="form-check-input togglecss" type="checkbox" id="lowStockToggle">
                <label class="form-check-label" for="lowStockToggle">Highlight Low Stock</label>
            </div>


            <!-- Inventory table view begins -->
            <div class="container">
                <div class="row">
                    <!-- Sugar Land Table -->
                    <div class="table-responsive col-md-6">
                        <h3 class="text-center">Sugar Land Inventory</h3>
                        <% if (locals.sugar_data) { %>
                        <table class="table table-sm table-hover border border shadow">
                                <thead>
                                    <tr style="--bs-table-bg: #8bd8bd; --bs-table-color: #243665;">
                                        <th scope="col">Item</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div>
                                        <% locals.sugar_data.forEach(function(data) { %>
                                            <!-- Highlight red for low stock - number can be changed -->
                                            <% if (data.quantity < 3) { %>
                                            <tr class="table-danger" id="lowStockFilter">
                                                <td scope="row"><%= data.item %></td>
                                                <td scope="row"><%= data.category %></td>
                                                <td scope="row"><%= data.quantity %></td>
                                                <td scope="row">$<%= data.price %></td>
                                            </tr>
                                            <% } else { %>
                                                <tr>
                                                    <td scope="row"><%= data.item %></td>
                                                    <td scope="row"><%= data.category %></td>
                                                    <td scope="row"><%= data.quantity %></td>
                                                    <td scope="row">$<%= data.price %></td>
                                                </tr>
                                                <% } %>
                                        <% }) %>
                                    </div>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                
                    <!-- Galleria -->
                    <div class="table-responsive col-md-6">
                        <h3 class="text-center">Galleria Inventory</h3>
                        <% if (locals.galleria_data) { %>
                            <table class="table table-sm table-hover border shadow">
                                <thead>
                                    <tr style="--bs-table-bg: #8bd8bd; --bs-table-color: #243665;">
                                        <th scope="col">Item</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% locals.galleria_data.forEach(function(data) { %>
                                        <tr>
                                            <td scope="row"><%= data.item %></td>
                                            <td scope="row"><%= data.category %></td>
                                            <td scope="row"><%= data.quantity %></td>
                                            <td scope="row">$<%= data.price %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
            <!-- Inventory table view ends -->
        </div>
        <!-- Content area ends -->
    </div>

    <!-- JavaScript for low stock filter toggle -->
        <%- include('../partials/highlight_toggle'); %>
</body>

</html>


<!-- References Used
    https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb
    https://icons.getbootstrap.com/
    https://getbootstrap.com/docs/5.3/content/tables/
    https://chat.openai.com/chat
    https://getbootstrap.com/docs/5.3/forms/checks-radios/
-->