<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle px-0" href="/overview">
                                <i class="bi bi-1-circle-fill"></i> <span class="ms-1 d-none d-sm-inline">Add Inventory Item</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-0 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                    </ul>
                    <hr>
                    <a class="nav-link bi-box-arrow-right mb-4" href="/"> Log out</a>
                </div>
            </div>
            <!-- CONTENT AREA BEGINS -->
            <div class="col py-3">
                <h1 class="m-4">
                    OVERVIEW PAGES TEST
                </h1>
                
                <p class="m-4"> Here is the current inventory view: </p>
            
                <% if (locals.data) { %>
                    <table class="table">
                        <thread>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thread>
                        <tbody>
                            <% locals.data.forEach(function(data) { %>
                                <tr>
                                    <td scope="row"><%= data.item %></td>
                                    <td scope="row"><%= data.category %></td>
                                    <td scope="row"><%= data.quantity %></td>
                                    <td scope="row"><%= data.supplier %></td>
                                    <td scope="row"><%= data.price %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
            <!-- CONTENT AREA ENDS -->
        </div>
    </div>
</body>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>


<!-- References Used
    https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb
-->